coc/
Dharkael/
configstore/
pulse/
Thunar/
copyq/
dconf/user
feh_028709_000001_filelist
jesseduffield/lazygit/config.yml
jesseduffield/lazygit/state.yml
opera/
teamviewer/client.conf
xfce4/
htop/
Lotion/
Notion/
nvim/.netrwhist
nvim/autoload/
youtube-music-desktop-app/

zsh/.zcompdump
zsh/.zcompdump
zsh/.zcompdump
zsh/.zcompdump
ranger/bookmarks
Foxit Software/Foxit Reader.conf

google-chrome/
