coc/
Dharkael/
configstore/
pulse/
Thunar/
copyq/
dconf/user
feh_028709_000001_filelist
jesseduffield/lazygit/config.yml
jesseduffield/lazygit/state.yml
opera/
teamviewer/client.conf
xfce4/
htop/
Lotion/
Notion/
nvim/.netrwhist
nvim/autoload/
youtube-music-desktop-app/
nvim/pack/

zsh/.zcompdump
zsh/.zcompdump
zsh/.zcompdump
zsh/.zcompdump
ranger/bookmarks
Foxit Software/Foxit Reader.conf

google-chrome/

transmission-daemon/dht.dat
transmission-daemon/stats.json
transmission-daemon/settings.json
whoozle.github.io/aft-linux-cli.history
qalculate/qalc.cfg
qalculate/qalc.history
zoomus.conf
Unknown Organization/zoom.conf

Electron/

autostart/kite-autostart.desktop
systemd/user/basic.target.wants/kite-updater.timer
systemd/user/default.target.wants/kite-autostart.service
systemd/user/kite-autostart.service
systemd/user/kite-updater.service
systemd/user/kite-updater.timer
Kite/

QtProject.conf
autostart/copyq.desktop
obs-studio/
libreoffice/
Mailspring/
mpv/watch_later/

Webcamoid/PluginsCache.conf
Webcamoid/Webcamoid.conf
menus/applications-merged/xdg-desktop-menu-dummy.menu